<!DOCTYPE html>

<head>
    <title>Dashboard</title>
    <link rel="icon" href=" ">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        {{!-- {{>header}} --}}
            <h2>Welcome back, {{name}}!</h2>

        <h2>Welcome, {{name}}!</h2>
        {{ avatar }}


        <br /><br />

        {{description}}
        {{status}}

        <br />


    </div>

</body>

</html>