

<head>
    <title>Profile</title>
    <link rel="icon" href=" ">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>        

        <form action="/tasks" method="get">
            <button>Tasks</button>
        </form>
        <form method="POST" action="/users/logout">
            <button>Log Out</button>
        </form>
        <br />

            <h2>Hey, {{name}}.</h2>


        Upload your avatar

        <form action="/users/me/avatar" method="post" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button>Upload</button>
        </form>

        {{#if avatar}}
            <img src="/users/{{id}}/avatar" />
        {{else}}
            <img src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" style="height: 150; width: 150" />
        {{/if}}

        <br></br>

        <form method="POST" action="/users/me/avatar?_method=DELETE">
            <button><input type="hidden" name="_method" value="DELETE" />Delete Avatar</button>
        </form>

        <p>Name: {{name}}</p>
        <p>Email: {{email}}</p>
        <p>id: {{id}}</p>

         <br></br>

        {{description}}

        <form method="POST" action="/users/me?_method=DELETE">
            <button><input type="hidden" name="_method" value="DELETE"/>Delete Account</button>
        </form>

        <br />

       
    </div>

</body>

