<!DOCTYPE html>

<head>
    <title>tasks</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div>
        <form>
            <input type="button" value="Return" onclick="history.back()">
        </form>
        <form method="patch" action="/users/me">
            <button>Profile</button>
        </form>
        <form method="POST" action="/users/logout">
            <button>Log Out</button>
        </form>

        <form method="POST" action="/tasks">
            <label for="description">Description</label>
            <input type="text" name="description" id="description" />
            <button>Add Task</button>
        </form>

        <div>
            <form>
                <p>Filter by:
                    <input type="button" onclick="window.location.href = '/tasks?sortBy=createdAt:desc';"
                        value="Date" />
                    <input type="button" onclick="window.location.href = '/tasks?completed=true';" value="Complete" />
                    <input type="button" onclick="window.location.href = '/tasks?';" value="Disable filter" />
                </p>
            </form>
        </div>


        {{#each taskList}}
        <ul data-id="{{_id}}">
            <li><big>{{description}}</big></li>
            <li><small>{{completed}}</small></li>
            <li><small>{{_id}}</small></li>


            <form method="POST" action="/tasks/{{_id}}?_method=PATCH">
                <input type="hidden" name="id">
                <input type="text" name="description">
                <input type="radio" name="completed" value="true">Yes<br>
                <input type="radio" name="completed" value="false">No<br>
                <button><input type="hidden" name="_method" />Update</button>
            </form>

            <form method="POST" action="/tasks/{{_id}}?_method=DELETE">
                <button><input type="hidden" name="_method" value="DELETE" />Remove</button>
            </form>

        </ul>
        {{/each}}

        <br />


    </div>



</body>


</html>